@import "../../../styles/page";

.PackagesPage {
  @include PageRoot;

  .PackagesTable {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
}